target/
.env
requests.http
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


# SSH keys
.ssh/
*.pem
*.key

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### ML service ###
ml-service/__pycache__/
ml-service/venv/

### Telegram bot ###
telegram-bot/__pycache__/
telegram-bot/venv/

### Frontend ###
frontend/node_modules/
frontend/dist/

### Tests ###
tests/__pycache__/
tests/unit/__pycache__/
tests/e2e/__pycache__/
tests/integration/__pycache__/
